@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.canvas-area {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}



.toolbar {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
}

.toolbar-button {
  position: relative;
  width: 50px;
  text-align: center;
}

.toolbar-button-dropdown {
  position: absolute;
  bottom: 40px;
  right: 21px;
  height: 12px;
  display: block;
  transform: rotate(270deg);
}

@media screen and (min-width:544px) {
  .toolbar {
    width: auto;
    position: absolute;
    left: 38px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .toolbar-inner {
    flex-flow: column;
  }

  .toolbar-button:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 50%;
  }

  .toolbar-button-dropdown {
    position: absolute;
    bottom: 21px;
    right: 3px;
    height: 12px;
    display: block;
    transform: none;
  }
}

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */

/* Your own custom utilities */

